{% extends "layout.html" %}

{% block title %}
    Book Page
{% endblock %}

{%  block signin %}
    {% if 'username' in session %}
        LOGGED IN as {{ session['username'] }}
    {% else %}
        NOT LOGGED IN
    {% endif %}
{% endblock %}

{% block body %}
{{ message }}
    <h1>{{ info[1] }}</h1>
    Author : {{ info[2] }} <br />
    Year of publication : {{ info[3] }} <br />
    ISBN : {{ info[0] }} <br />

    <h2> Goodreads ratings</h2>
    {% if has_goodreads_ratings %}
        Number of ratings : {{ info[4] }} <br />
        Average of ratings : {{ info[5] }} <br />
    {% else %}
        This book has not been rated yet on GoodReads.
    {% endif %}

    <h2> Reviews by Marcel Proust Club users</h2>
    {% if has_reviews %}
        {% for review in reviews %}
            <li> {{ review[3] }} rated this book with {{ review[1] }}/5 with comment : "{{ review[2] }}". </li>
        {% endfor %}
    {% else %}
        This book has currently no reviews by the Marcel Proust users. Feel free to give the first review in the section below.
    {% endif %}

    <h2> Want to give your opinion on this book?</h2>
<p> You can make only one review per book.</p>
    <form action="{{ url_for('add_review', isbn=info[0]) }}" method="post">
    <input type='text' name="rating" placeholder="Rating from 1 to 5">
    <input type='text' name="comment" placeholder="Comment on the book">
    <button>Submit</button>
    </form>
    <div>
        <a href="{{ url_for('search_page') }}" > Go back to search page </a>
    </div>



{% endblock %}
